


{% comment %}

	file: /_includes/footer.html
   vim: ts=3

	This file is included by /_layouts/default.html
	It controls the contents of the header on each page of the documentation.

{% endcomment %}



<section class="container myfooter">
	{% include navigation_order.html %}
</section>


<style>

.myfooter {
	position: fixed;
	bottom: 0;
	max-width: 70em;
	background: white;
	left-margin: auto;
	right-margin: auto;
	z-index: 10;
	opacity: 0.95;
	border-top: solid 1px rgba(0, 0, 0, 0.1);
	height: 90px;
}


#content {
	margin-bottom: 150px; /* should be equal or greater to height */
}


.myfooter a, .myfooter ul.pagination, .myfooter li.page-item {
	padding: 0 !important;
	margin: 0 !important;
}

</style>

