{% comment %}

	file: /_includes/header.html
	vim: ts=3

	This file is included by /_layouts/default.html
	and it contains the contents for the navigation bar at the top
	of the documentaiton pages.

{% endcomment %}



<section class="section section-header bg-gray">
	<section class="grid-header container grid-960">
		<nav class="navbar">
			<section class="navbar-section">
				<a href="#sidebar" class="btn btn-lg btn-link btn-action show-sm"><i class="icon icon-menu"></i></a>
				<a href="index.html" class="navbar-brand mr-10">{{ site.topnav_title }}</a>
				<a href="index.html" class="btn btn-link">Docs</a>
			</section>
			<section class="navbar-section">
				{% include github-edit-button.html %}
			</section>
		</nav>
	</section>
</section>


<style>

section.bg-gray {
	background: #f5f5f5;
}

</style>
