


<section class="section section-header bg-gray">
	<section class="grid-header container grid-960">
		<nav class="navbar">
			<section class="navbar-section">
				<a href="#sidebar" class="btn btn-lg btn-link btn-action show-sm"><i class="icon icon-menu"></i></a>
				<a href="index.html" class="navbar-brand mr-10">MEI Basic Documentation</a>
				<a href="index.html" class="btn btn-link">Docs</a>
			</section>
			<section class="navbar-section">
				{% include github-edit-button.html %}
			</section>
		</nav>
	</section>
</section>

