


{% comment %}

	file: _includes/sidebar.html
	vim: ts=3

	This file is loaded into webpages from the file:
		_layouts/default.html
	if the page source is in the directory "mei-basic".  This is
	controlled by a variable called site.data.page_sequence which is
	defined in the _config.yml file.  The page_sequence variable
	contains a list of the pages in the tutorial ordered by how
	they should be progressed through.

	The following code extracts the index of the current page
	from the site.data.page_sequence list.  This is used to construct
	the next/previous page links at the bottom of tutorial pages.

{% endcomment %}



<!-- Preliminary liquid code and debugging information

{% for item in site.data.page_sequence %}
	{% if page.url contains item.tag %}
		{% assign basicindex = forloop.index0 %}
	{% endif %}
{% endfor %}
{% assign nextindex  = basicindex | plus: 1 %}
{% assign previndex  = basicindex | plus: -1 %}
{% if previndex < 0 %}
	{% assign previndex = site.data.page_sequence.size | plus: -1 %}
{% endif %}
{% if nextindex == site.data.page_sequence.size %}
	{% assign nextindex = 0 %}
{% endif %}
{% assign nexturl = site.data.page_sequence[nextindex].tag | append: ".html"  %}
{% assign prevurl = site.data.page_sequence[previndex].tag | append: ".html"  %}
{% assign nexttitle = site.data.page_sequence[nextindex].title  %}
{% assign prevtitle = site.data.page_sequence[previndex].title  %}

page index is:	{{ basicindex }} {{ site.data.page_sequence[basicindex] }}
next index is:	{{ nextindex }} {{ site.data.page_sequence[nextindex] }}
prev index is:	{{ previndex }} {{ site.data.page_sequence[previndex] }}
previous url:	{{ prevurl }}
next url:	{{ nexturl }}
previous title:	{{ prevtitle }}
next title:	{{ nexttitle }}

-->




<div id="sidebar" class="docs-sidebar column col-3 col-sm-12">
	<ul class="docs-nav nav">



{% assign category = "" %}
{% assign pagecat = "" %}
{% for item in site.data.page_sequence %}
	{% assign pageurl = item.tag | append: ".html" %}
	{% assign pagetitle = item.title %}
	{% assign pagecat = item.category %}
	{% unless pagecat %}
		{% assign pagecat = "" %}
	{% endunless %}
	{% if page.url contains item.tag %}
		{% assign onpage = "highlight" %}
	{% else %}
		{% assign onpage = "" %}
	{% endif %}

	{% if category == pagecat %}
		{% comment %} Current item is in previous category so no category change {% endcomment %}
		{% if category == "" %}
			{% comment %} A top-level link {% endcomment %}
			<li class="nav-item">
				<a class="{{ onpage }}"href="{{ pageurl }}">{{ pagetitle }}</a>
			</li>
		{% else %}	
			{% comment %} A secondary-level link in an existing category {% endcomment %}
			<li class="nav-item">
				<a class="{{ onpage }}" href="{{ pageurl }}">{{ pagetitle }}</a>
			</li>
		{% endif %}
	{% elsif pagecat == "" %}
		{% comment %} Turn off previous category list and display top-level link {% endcomment %}
		</ul></li>
		<li class="nav-item">
			<a class="{{ onpage }}" href="{{ pageurl }}">{{ pagetitle }}</a>
		</li>
	{% elsif category == "" %}
		{% comment %} Switch to new category list without turning off previous category {% endcomment %}
		<li class="nav-item">
			<a href="{{ pageurl }}"><strong>{{ pagecat }}</strong></a>
			<ul class="nav">
				<li class="nav-item">
					<a class="{{ onpage }}" href="{{ pageurl }}">{{ pagetitle }}</a>
				</li>
	{% else %}
		{% comment %} Switch to new category list {% endcomment %}
			</ul>
		</li>
		<li class="nav-item">
			<a href="{{ pageurl }}">{{ pagecat }}</a>
			<ul class="nav">
				<li class="nav-item">
					<a class="{{ onpage }}" href="{{ pageurl }}">{{ pagetitle }}</a>
				</li>
	{% endif %}
	{% assign category = pagecat %}
{% endfor %}

	</ul>
</div>



<style>

#sidebar {
	display: block;
	margin-top: 0px;
	max-width: 350px;
	min-width: 275px;
	position: fixed;
}

#sidebar ol li, #sidebar ul li {
	margin-top: 0.8rem;
}


#content {
	margin-left: 350px;
	width: 950px;  /* 600 plus margin-left from line above */
}


.highlight {
	color: black !important;
	text-shadow: 0px 0px 10px #cc0000;
	opacity: 0.6;
}

.nav .nav-item a {
	padding: 0 !important;
}

</style>



