
{% comment %}
	vim: ts=3:ft=javascript

	Parameters for verovio:
	http://www.verovio.org/command-line.xhtml
		adjustPageHeight default 1
		border           default 50
		evenNoteSpacing  default 0
		font             default "Leipzig"
		inputFormat      default "auto"
		page             default 1
		pageHeight       default 60000
		pageWidth        default 1350
		scale            default 40
		spacingLinear    default 0.25
		spacingNonLinear default 0.6
		spacingStaff     default 3
		spacingSystem    default 6

{% endcomment %}


<div class="meiSample">
	<div class="verovio" id="{{ include.id }}_verovio"></div>
	<div class="btn-group">
		<button 
				class="btn btn-sm active" 
				id="{{ include.id }}_excerpt_link" 
				onclick="showCode('excerpt','{{ include.id }}')">
			Relevant Excerpt</button>
		<button 
				class="btn btn-sm" 
				id="{{ include.id }}_full_link" 
				onclick="showCode('full','{{ include.id }}')">
			Full Encoding
		</button>
	</div>


	<div class="excerpt" id="{{ include.id }}_excerpt_container">
		<div class="excerptEditor" id="{{ include.id }}_excerpt">
			<div xml:space="preserve" class="pre">
                                 
				<div class="indent1"><span data-indentation="1" class="element">&lt;slur <span class="attribute">staff=</span><span class="attributevalue">"1"</span> <span class="attribute">startid=</span><span class="attributevalue">"#note1"</span> <span class="attribute">endid=</span><span class="attributevalue">"#note2"</span>/&gt;</span></div>
                                 
				</div>
			</div>
		</div>
		<div class="fullEncoding hide" id="{{ include.id }}_full_container">
		<div class="editor" id="{{ include.id }}_full"></div>
	</div>

<script>

var options_{{ include.id }} = {
	pageHeight:         parseInt("{{include.pageHeight}}")         || 210,
	pageWidth:          parseInt("{{include.pageWidth}}")          || 420,
	scale:              parseInt("{{include.scale}}")              || 45,
	adjustPageHeight:   1,
	ignoreLayout:       1,
	border:             0
};

loadMEI('{{ include.id }}', '{{ include.example }}' , '{{ include.selector }}', options_{{ include.id }});

</script>

<style>

div[id^="{{ include.id }}"].excerpt, div[id^="{{ include.id }}"].excerptEditor {
	height: {{ include.excerptHeight | remove: "px" }}px;
}

div[id^="{{ include.id }}"].fullencoding, div[id^="{{ include.id }}"].fullEncodingEditor {
	height: {{ include.fullEncodingHeight | remove: "px" }}px;
}

</style>

</div>


