


{% comment %}

vim: ts=3

This file (/_includes/verovio.html) is included on documentation pages if the
liquid header has the variable "verovio: true" in it.

This file is included via the file /_includes/head.html which is in turn loaded
into /_layouts/default.html.

These functions are used in the file /_includes/verovio-example.html which
creates the exaples on the webpages of the documentation.

{% endcomment %}



<script src="resources/js/verovio-toolkit.js" type="text/javascript" charset="utf-8"></script>

<script>

// Initialize the verovio toolkit for the page:
var vrvToolkit = new verovio.toolkit();



//////////////////////////////
//
// showCode -- Show hide the desired full or extract of the MEI data.  This function
//     is used by the buttons found in the page _include/verovio-example.html.
//

function showCode(type, id) {
	if (type === 'excerpt') {
		document.querySelector('#' + id + '_excerpt_link').classList.add('active');
		document.querySelector('#' + id + '_full_link').classList.remove('active');
		document.querySelector('#' + id + '_excerpt_container').classList.remove('hide');
		document.querySelector('#' + id + '_full_container').classList.add('hide');
	} else {
		document.querySelector('#' + id + '_excerpt_link').classList.remove('active');
		document.querySelector('#' + id + '_full_link').classList.add('active');
		document.querySelector('#' + id + '_excerpt_container').classList.add('hide');
		document.querySelector('#' + id + '_full_container').classList.remove('hide');
	}
}



//////////////////////////////
//
// loadMEI -- Populate the webpage with the notation rendering, the MEI code and
//     the xpath extracted excerpt.  This function is called by
//     _includes/verovio-example.html
//

function loadMEI (id, uri, xpath, options) {
	vrvToolkit.setOptions(options);
	var fullEditor = ace.edit(document.querySelector('#' + id + '_full'));
	var extractEditor = ace.edit(document.querySelector('#' + id + '_excerpt'));

	$.get('./samples/' + uri, function (fullMei) {

		// Setup the ace editor for the full MEI example:
		fullEditor.$blockScrolling = Infinity;
		// fullEditor.setTheme("ace/theme/textmate");
		fullEditor.setTheme("ace/theme/eclipse");
		fullEditor.getSession().setMode("ace/mode/xml");
		fullEditor.setReadOnly(true);
		fullEditor.setShowPrintMargin(false);
		fullEditor.setOptions({ 
			readOnly: false, 
			highlightActiveLine: true, 
			highlightGutterLine: true,
			fontSize: "0.75em"
		})
		fullEditor.session.setValue(fullMei);

		fullEditor.getSession().on('change', function() {
			updateSvg(id, fullEditor, options, xpath, extractEditor);
		});

		// Render and display the image:
		var svg = vrvToolkit.renderData(fullMei + '\n ', {});

		var svgtarget = document.querySelector("#" + id + '_verovio');
		if (svgtarget) {
			svgtarget.innerHTML = svg;
		} else {
			console.log("Cannot find svg target:", "#" + id + '_verovio');
		}

		// Extract short example with xpath paramter:
		if (xpath) {
			var myextract = extractXpath(fullMei, xpath);

			// Setup the ace editor for the MEI excerpt:
			extractEditor.$blockScrolling = Infinity;
			// extractEditor.setTheme("ace/theme/textmate");
			extractEditor.setTheme("ace/theme/eclipse");
			extractEditor.getSession().setMode("ace/mode/xml");
			extractEditor.setReadOnly(true);
			extractEditor.setShowPrintMargin(false);
			extractEditor.renderer.setShowGutter(false);
			extractEditor.renderer.$cursorLayer.element.style.display = "none";
			extractEditor.setOptions({ 
				readOnly: true, 
				highlightActiveLine: false, 
				highlightGutterLine: false,
				fontSize: "1em"
			})
			extractEditor.session.setValue(myextract);
		} else {
			document.querySelector('#' + id + '_excerpt_container').classList.remove('hide');
		}
	}, 'text');
}



//////////////////////////////
//
// updateSvg -- Whenever the Full Encoding view is changes, the SVG image
//    will be re-rendered and updated if not empty.
//

function updateSvg(id, editor, options, xpath, mineditor) {
	var contents = editor.getValue();
	vrvToolkit.setOptions(options);
	var svg;
	try {
		svg = vrvToolkit.renderData(contents + '\n ', {});
		if (vrvToolkit.getPageCount() == 0) {
			// console.log("ERROR processing data");
		} else {
			// console.log("SVG SUCCESSFULLY CREATED");
			var svgtarget = document.querySelector("#" + id + '_verovio');
			if (svgtarget) {
				svgtarget.innerHTML = svg;
			} else {
				console.log("Cannot find svg target:", "#" + id + '_verovio');
			}
			var newextract = extractXpath(contents, xpath);
			mineditor.session.setValue(newextract);
		}

	} catch(err) {
		console.log("Error with input data, so not trying to update SVG.");
	}
}



//////////////////////////////
//
// extractXpath -- Pull out the contents of the MEI file which match the
//   given xpath query string.  Note that the query must include a prefix
//   for the namespace.  Use any prefix that you want, but perhaps mei: is
//   best, such as:
//       //note
//   should be changed:
//       //mei:note
//

function extractXpath(xmlstring, xpath) {
	var parser = new DOMParser();
	var mydoc = parser.parseFromString(xmlstring, "application/xml");
	var namespace = "http://www.music-encoding.org/ns/mei";
	var myextracts = $($(mydoc).xpath(xpath, function(prefix) { return namespace; }));
	var serializer = new XMLSerializer();
	var output = "";
	for (var i=0; i<myextracts.length; i++) {
		myextracts[i].setAttribute("xmlns", "");
		output += cleanXpathText(serializer.serializeToString(myextracts[i]));
		output += "\n";
	}
	var lines = output.match(/[^\r\n]+/g);
	var len = lines.length;
	if ((len > 0) && (lines[length-1] == "\n")) {
		lines.pop();
	}
	len = lines.length;
	if ((len > 0)) {
		var counter = 0;
		for (var i=0; i<lines[len-1].length; i++) {
			if (lines[len-1].charAt(i) == " ") {
				counter++;
			} else {
				break;
			}
		}
		if (counter > 0) {
			for (i=1; i<lines.length; i++) {
				// var tester = lines[i].substr(0, counter);
				// console.log("DELETING SPACE:", tester);
				// check for tester not being space.
				lines[i] = lines[i].substr(counter);
			}
		}
	}

	output = lines.join("\n");

	return output.replace(/\s+$/, "");
}



//////////////////////////////
//
// cleanXpathText -- remove the "xmlns" attribute and fix the indenting.
//

function cleanXpathText(input) {
	var output = input.replace('xmlns=""', "");
	return output;
}


</script>



