


{% comment %}

	file: /_layouts/default.html
	vim: ts=3

	This file is the starting template for markdown files on the website.
	/_layouts/default.html is the default template for creating webpages,
	but adding:
		layout: xxx
	would use the template file /_layouts/xxx.html for building a webpage
	from the source markdown file for the webpage.

{% endcomment %}



<!DOCTYPE html PUBLIC "html">
<html>
	{% include head.html %}
	<body>
		<!--
			vim: ts=3
		-->
		{% include header.html %}
		<section class="container grid-960">
			<section class="columns">
				{% include sidebar.html %}
				<div class="docs-content column col-9 col-sm-12">
					<section id="grid" class="container">
						<div id="content" style="min-height:700px">
							{{ content }}
						</div>
					</section>
				</div>
			</section>
		{% include footer.html %}
		</section>
		</body>
</html>


